body,
html {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#to-do-list {
    list-style: none;
    padding: 0;
}

#img {
    display: block;
    margin: auto;
    height: 128px;
    width: 128px;
    padding: 2rem;
}

#canvas {
    display: block;
    margin: 2rem auto;
    width: 100vw;
    height: 20vh;
}
